<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{css/estiloapp.css}" type="text/css">
</head>
<body style="background-color: rgba(97,97,97,0.17)">
<div class="top-var"></div>
<img th:src="@{images/logo.png}" id="logo7-main">

<p class="titulo_bienvenida"> Bienvenido al sistema de registro 7-Eleven</p>
<div class="contenedor_crud"></div>

<form method="get" action="/logout">
    <button type="submit" class="bot2"> <img th:src="@{images/lo.png}" id="lo"> </button>
</form>
<p class="desc"> Seleccione una operación</p>

<div class="C"></div>
<p class="C_text">Alta de producto</p>

<a href="/app/agregar"> <img th:src="@{images/create.png}" id="create_icon"> </a>

<div class="R"></div>
<p class="R_text">Consulta de producto</p>

<a href="/app/index"> <img th:src="@{images/read.png}" id="read_icon"> </a>

<div class="U"></div>
<p class="U_text">Actualización de producto</p>

<a href="/app/eliminar/"> <img th:src="@{images/update.png}" id="update_icon"> </a>

<div class="D"></div>
<p class="D_text">Baja de producto</p>

<a href="/app/agregar"> <img th:src="@{images/delete.png}" id="delete_icon"> </a>

</body>
</html>