<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/estiloapp.css}" type="text/css">
</head>
<body style="background-color: rgba(97,97,97,0.17)">
<div class="top-var"></div>
<div class="container">

    <div class="log"></div>
    <img th:src="@{images/logo.png}" id="logo7">

    <div class="content">
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
        <p class="title_main">Sección de administración</p>

        <form name="form" th:action="@{/login}" action="/login" method="POST">
            <fieldset class="fs">
                <input type="text" name="username" value="" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
            </fieldset>
            <input type="submit" id="login" value="Login" class="btn btn-primary" />
        </form>
    </div>

</div>
</body>
</html>
